<div class="card col-6" style="margin-left: 3rem; margin-top: 3rem; padding: 2rem;">
  <div class="mb-3 col-10">
    <label for="exampleFormControlInput1" class="form-label">Plant Name</label>
    <input type="text" class="form-control" id="plant-name">
  </div>
  {{!-- <div class="mb-3 col-5">
    <select class="form-select" id="plant-class" aria-label="Default select example">
      <option selected>Type of plant?</option>
      <option value="1">Seedling</option>
      <option value="2">Shrub</option>
      <option value="3">Produce</option>
      <option value="4">Potted</option>
    </select>
  </div> --}}
  {{!-- <div class="mb-3 col-5">
    <label for="plant-" class="form-label">Species</label>
    <input type="text" class="form-control" id="plant-species">
  </div> --}}
  <div class="mb-3 col-10">
    <label for="exampleFormControlInput1" class="form-label">Location</label>
    <input type="text" class="form-control" id="plant-location">
  </div>
  <div class="mb-3 col-10">
    <select class="form-select" id="schedule" aria-label="Default select example">
      <option selected>When do you want to water?</option>
      <option value="1">Every day</option>
      <option value="2">Every other day</option>
      <option value="3">Every three days</option>
    </select>
  </div>
  <div class="mb-3 col-10">
    <label for="exampleFormControlInput1" class="form-label">When was it planted?</label>
    <input type="date" class="form-control" id="plant-birthday">
  </div>
  <button type="button" class="btn btn-success" id="add-plant">Add</button>
</div>

<script src="/js/addplant.js"></script>
